.checkbox-label {
    color: red ;
}
.checkbox:checked + .checkbox-label {
    color: black ;
}

.container {
    padding: 20px !important ;
    border: 1px solid gray ;
}

input , select {
    margin-top: 10px;
}